<div *ngIf="!productosService.cargando" class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">

  <a *ngFor="let producto of productosService.productosFiltrado" [routerLink]="['/item',producto.cod]"
    class="animate__animated animate__fadeIn animate__faster rk-item ae-masonry__item">
    <img src="assets/productos/{{producto.url}}.jpg" alt="" />
    <div [routerLink]="['/item',producto.cod]" class="item-meta">
      <h2>{{producto.titulo}}</h2>
      <p>{{producto.categoria}}</p>
    </div>
  </a>

</div>
